/* COMMON */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}
header{
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
    list-style-type: none;
    align-self: center;
}
.my_container{
    width: 96%;
    background-color: red;
    margin:  0 auto;
}

/* HEADER */

/* TOP */
.header-top{
    background-color: black;
    position: relative;
    height: 30px;
}
.header-top img{
    height: 100%;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0
}
/* BOTTOM */
.header-bottom{
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 60px;
}

/* HEADER BOTTOM LEFT */
.header-left{
    display: flex;
    align-items: center;
}
.header-logo{

}
.lg_link{
    width: 90%;
    display: flex;
    align-items: center;
    display: none;
}
.lg_link ul li{
    margin-left: 10px;
    min-width:max-content;
}
.lg_link ul li img{
    width: 10px;
}
/* HEADER BOTTOM RIGHT */
.header-right{
    display: flex;
    align-items: center;
}
/* LENS */
.header-lens{
    height: 100%;
    padding: 10px;
}
.header-lens img{
    width: 25px;
    display: none;
}
.header-lens i{
    font-size: 30px;
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}
/* BUTTON-LINK */
.lg_btn{
    position: relative;
    display: none;
}
.lg_btn img{
    width: 10px;
}
.lg_btn li{
    margin-right: 15px;
}
.my_btn{
    border-radius: 30px
}


/* BUY */
.call-to-action-buy{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 100px;
    width: 100%;
    padding: 0 10px 40px;


    /* img */
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    background-position-y:bottom;


    /* test */
    height: 500px;
}
.call-to-action-buy h2{
    font-size: 30px;
    margin-bottom: 20px
}
.call-to-action-buy  img{
    width: 200px;
    padding-bottom: 25px;
    /* height: 50px; */
}
.call-to-action-buy p{
    font-size: 13px;
    max-width: 400px;
}
.call-to-action-buy .my_btn-buy{
    border-radius: 30px;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    width: 100px;
    font-size: 12px;
}
.call-to-action-buy *{
    color: white;
    /* background-color: pink; */
}


/* CARD-1 */
.card-1{
    padding: 30px 0 80px;
    border-bottom: 1px solid black;
}
.card-1 img{
    width: 100%;
    border-radius: 15px;
}

/* PS5 */
#PS5{
    margin-bottom: 30px;
}
/* TITLE */
#PS5-title *{
    text-align: center;
}
#PS5-title{
    margin-bottom: 40px;
}
#pre-title{
    color: #31bbf1;
    font-size: 12px;
    font-weight: 500;
}
#PS5-title h2{
    margin-bottom: 15px;
}
.sub-title{
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

/* CONTENT */
#PS5-content .my_btn-PS5{
    width: 150px;
    font-size: 13px;
    border-radius: 15px;
}
#PS5 img{
    width: 100%;
}
#PS5-img-selected{
    border-bottom: 2px solid blue;
}

/* CALL ACTION 2 */
.call-to-action-buy-2{

    height: 450px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.call-to-action-buy-2 h2{
    font-size: 26px;
}
#nuove-uscite-title h2{
    font-size: 30px;
}
#nuove-uscite-title p{
    font-size: 18px;
}
/* NUOVE USCITE */
#nuove-uscite{
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0 50px;
}
.nuove-uscite-img img{
    width: 100%;
    border-radius: 20px;
}
/* PS4 */
#PS4{
    padding: 50px 0;
}#PS4-title{
    text-align: center;
}
#PS4-title p{
    color: gray;
}
.my_card img{
    width: 100%;
}
.my_card p{
    color: gray;
    font-size: 14px;
}
.my_card .my_btn-PS4{
    border-radius: 20px;
}

/* BANNER 1 */
.banner{
    background-color: #bebcbb;
    padding: 50px 0;
}
.banner img{
    width: 60%;
}
.banner p{
    margin: 30px 0;
}
.banner-btn{
    background-color: #d9dadc;
    border: none;
    color: blue;
    border-radius: 25px;
}
.banner-right-content{
    display: none;
}
.banner-right-content img{
    height: 100%;
    width: 90%;
}
.banner .my_container{
    display: flex;
}
@media screen and (min-width: 992px) {
    .header-lens img{
        display: block;
    }
    .header-lens i{
        display: none;
    }
    .lg_link{
        display: block;
    }
    .lg_btn{
        display: block;
    }
    .banner-right-content{
        display: block;
    }
}