/* COMMON */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}
header{
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
    list-style-type: none;
    align-self: center;
}
.my_container{
    width: 96%;
    margin:  0 auto;
}
.my_container_footer{
    width: 96%;
    margin:  0 auto;  
}

/* HEADER */

/* TOP */
.header-top{
    background-color: black;
    position: relative;
    height: 35px;
}
.header-top img{
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0
}
/* BOTTOM */
.my_container_header{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    width: 98%;
    /* padding: 10px 0 0 8px; */
}
.header-bottom{
    width: 100%;
    background-color: white;
    height: 65px;
}
.header-bottom li{
    cursor: pointer;
}

/* HEADER BOTTOM LEFT */
.header-left{
    display: flex;
    align-items: center;
}
.lg_link{
    width: 90%;
    /* display: flex; */
    /* align-items: center; */
    display: none;
}
.lg_link ul li{
    margin-left: 10px;
    min-width:max-content;
}
.lg_link ul li img{
    width: 10px;
}
/* HEADER BOTTOM RIGHT */
.header-right{
    display: flex;
    /* align-items: center; */
}
/* LENS */
.header-lens{
    height: 100%;
    padding: 10px;
    cursor: pointer;
}
.header-lens img{
    width: 25px;
    display: none;

}
.header-lens i{
    font-size: 27px;
    padding: 7px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #737373;;
}
/* BUTTON-LINK */

.lg_btn{
    position: relative;
    display: none;
}
.lg_btn img{
    width: 10px;
}
.lg_btn li{
    margin-right: 15px;
}
.my_btn{
    border-radius: 30px
}

/* MAIN */
main{
    padding-top: 100px;
}
/* BUY */
.call-to-action-buy{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 100px;
    width: 100%;
    padding: 0 10px 40px;
    height: 700px;

    /* bg - img */
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    background-position-y:bottom;
}
.call-to-action-buy h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px
}
.call-to-action-buy  img{
    width: 270px;
    padding-bottom: 25px;
    /* height: 50px; */
}
.call-to-action-buy p{
    font-size: 17px;
    max-width: 550px;
    margin-bottom: 40px;
}
.call-to-action-buy .my_btn-buy{
    border-radius: 30px;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    width: 120px;
    font-size: 15px;
}
.call-to-action-buy *{
    color: white;
    /* background-color: pink; */
}


/* CARD-1 */
.card-1{
    padding: 30px 0 120px;
}
.card-1 img{
    width: 100%;
    border-radius: 15px;
}

/* PS5 */
#PS5{
    margin-bottom: 30px;
}
/* TITLE */
#PS5-title *{
    text-align: center;
}
#PS5-title{
    margin-bottom: 40px;
}
#pre-title{
    color: #167ed2;
    font-size: 15px;
    font-weight: 500;
}
#PS5 h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.sub-title{
    font-size: 19px;
    color: gray;
    margin-bottom: 20px;
    font-weight: 600;
}

/* CONTENT */
#PS5-content .my_btn-PS5{
    width: 200px;
    border-radius: 25px;
}
#PS5 img{
    width: 100%;
}
.PS5-img h3{
    display: none;
}
.PS5-img-not-selected{
    filter: opacity(0.6);
}
#PS5-img-selected{
    border-bottom: 2px solid blue;
}

/* CALL ACTION 2 */
.call-to-action-buy-2{
    height: 540px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.call-to-action-buy-2 h2{
    font-size: 26px;
}
#nuove-uscite-title h2{
    font-size: 30px;
}
#nuove-uscite-title p{
    font-size: 18px;
}
/* NUOVE USCITE */
#nuove-uscite{
    background-color: #1f1f1f;
    color: white;
    padding: 20px 0 50px;
}
.nuove-uscite-img img{
    width: 100%;
    border-radius: 20px;
}
/* PS4 */
#PS4{
    padding: 50px 0;
}#PS4-title{
    text-align: center;
}
#PS4-title p{
    color: gray;
}
.my_card img{
    width: 100%;
}
.my_card p{
    color: gray;
    font-size: 14px;
}
.my_card .my_btn-PS4{
    border-radius: 20px;
}

/* BANNER PS PLUS */
.banner{
    background-color: #bebcbb;
    padding: 50px 0;
}
.banner img{
    width: 60%;
}
.banner p{
    margin: 30px 0;
}
.banner-btn{
    background-color: #d9dadc;
    border: none;
    color: blue;
    border-radius: 25px;
}
.banner-right-content{
    display: none;
}
.banner-right-content img{
    height: 100%;
    width: 90%;
}
.banner .my_container{
    display: flex;
}

/* SCONTI */
#sconti{
    padding: 50px 0;
}
.sconti-img img{
    width: 100%;
    margin: 20px 0;
}

/* BANNER PS NOW */
.PSNOW{
    background-color: #161c3b;
    color: white;
}
.Now-btn{
    color: black;
}

/* SOCIAL MEDIA */
#social-media{
    padding: 50px 0;
}
#social-media h2{
    margin-bottom: 80px;
}
#social-media img{
    width: 100%;
}

/* FOOTER */
footer{
    color: white;
    background-color: #00439c;
    padding: 70px 0;
}
.footer-top-content{
    margin-bottom: 40px;
}
.footer-logo img{
    width: 150px;
}
.footer-language-area img{
    width: 30px;
}
footer ul{
    display: flex;
    flex-direction: column;
}
footer li{
    margin-bottom: 20px;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer-center-content{
    padding-left: 40px;
}
.footer-bottom-content{
    padding: 40px 0 20px;
}
.footer-bottom-content img{
    width: 200px;
    
}
@media screen and (min-width: 576px) {
    /* MAIN */
    /* CALL TO ACTION BUY */
    .call-to-action-buy{
        padding: 0 30px 50px;
    }
    .call-to-action-buy p{
        max-width: 691px;
    }
}

@media screen and (min-width: 768px) {
    /* PS5 */
    #PS5 img{
        padding: 20px
    }
    .PS5-img h3{
        display: block;
        font-size: 16px;
        text-align: center;
    }
    #PS5-img-selected{
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    /* HEADER */
    .my_container_header{
        padding: 10px 0 0 8px;
    }
    /* right header */
    .header-lens img{
        display: block;
    }
    .header-lens i{
        display: none;
    }
    /* left header */
    .lg_link{
        display: block;
    }
    .lg_btn{
        display: block;
    }
    /* MAIN */
    /* CALL TO ACTION BUY */
    .call-to-action-buy p{
        max-width: 420px;
    }

    /* BANNER PS PLUS  */
    .banner-right-content{
        display: block;
    }
    .lg_link ul li{
        line-height: 30px;
    }
    .lg_btn li{
        line-height: 40px;
    }

}

@media screen and (min-width: 1200px) {
    /* PS5 */
    #PS5-content{
        position: relative;
        top: 35%;
    }
}